@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
.oXvTr4-Xp5v05-CI7j5f- form {
  display: flex;
  flex-direction: column;
  padding-top: 22px; }
  .oXvTr4-Xp5v05-CI7j5f- form input {
    width: 190%; }
  .oXvTr4-Xp5v05-CI7j5f- form button {
    width: 110px;
    height: 29px;
    background-color: #007BFF;
    outline: none;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 11.5px;
    transition: all 0.2s ease-out; }
    .oXvTr4-Xp5v05-CI7j5f- form button:hover {
      cursor: pointer;
      filter: brightness(80%); }
    .oXvTr4-Xp5v05-CI7j5f- form button span {
      position: absolute;
      width: 16px;
      height: 16px;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      margin: -12px 0 0 -10px;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      animation: QSnWXYI7vmlc6vvn_LinQ .6s linear infinite; }
  .oXvTr4-Xp5v05-CI7j5f- form ._1jvmQEuaG75_WwY3c3Iydt {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .oXvTr4-Xp5v05-CI7j5f- form ._1jvmQEuaG75_WwY3c3Iydt a {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      text-decoration: none;
      color: #007BFF; }

@keyframes QSnWXYI7vmlc6vvn_LinQ {
  to {
    transform: rotate(360deg); } }

._3QsVeC3qUs36GBJEEnQehb {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 15px; }
  ._3QsVeC3qUs36GBJEEnQehb span {
    color: red;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    padding: 4px 0 0 10px; }
  ._3QsVeC3qUs36GBJEEnQehb label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #495057;
    margin-bottom: 8.5px; }
  ._3QsVeC3qUs36GBJEEnQehb ._1mrFSMPveW6dm6-etw7ui7 {
    border: 1px solid red; }
  ._3QsVeC3qUs36GBJEEnQehb input {
    border: 1px solid #BECAD6;
    border-radius: 3px;
    padding: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #3D5170;
    outline: none; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

$bc-color: #E5E5E5;
$blue-color: #007BFF;
$red-color: #CB3656;

body {
    font-family: 'Roboto', sans-serif;
    background-color: $bc-color;
}

._2TUg2e5nezOAPPTB1wxuX_ {
  display: flex;
  justify-content: center; }
  ._2TUg2e5nezOAPPTB1wxuX_ ._2YMEOcDDKTINLjV2Hrd-Pw {
    padding-top: 120px;
    width: 370px; }
    ._2TUg2e5nezOAPPTB1wxuX_ ._2YMEOcDDKTINLjV2Hrd-Pw ._2GnYBW-RhQPMZPQSQj6Zbi ._2bNdCGzdZsbEjzNLDQQK7l {
      display: flex;
      justify-content: center;
      align-items: center; }
      ._2TUg2e5nezOAPPTB1wxuX_ ._2YMEOcDDKTINLjV2Hrd-Pw ._2GnYBW-RhQPMZPQSQj6Zbi ._2bNdCGzdZsbEjzNLDQQK7l ._1gOS-vU4zs9GYUD2DiIfMJ img {
        padding-right: 10px; }
      ._2TUg2e5nezOAPPTB1wxuX_ ._2YMEOcDDKTINLjV2Hrd-Pw ._2GnYBW-RhQPMZPQSQj6Zbi ._2bNdCGzdZsbEjzNLDQQK7l ._1MjOJgvBFrUFxlfd5f6udc p {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #3D5170; }
    ._2TUg2e5nezOAPPTB1wxuX_ ._2YMEOcDDKTINLjV2Hrd-Pw ._2GnYBW-RhQPMZPQSQj6Zbi ._3U2C3x-BsNZ_XgHBaHNVAd {
      width: 100%;
      height: 260px;
      padding: 0 17px 0 17px;
      background-color: white;
      box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11), 0px 2px 4px rgba(90, 97, 105, 0.12), 0px 5px 5px rgba(90, 97, 105, 0.06), 0px 3.5px 35px rgba(90, 97, 105, 0.1);
      border-radius: 9px; }
      ._2TUg2e5nezOAPPTB1wxuX_ ._2YMEOcDDKTINLjV2Hrd-Pw ._2GnYBW-RhQPMZPQSQj6Zbi ._3U2C3x-BsNZ_XgHBaHNVAd ._3cZvKkC5s_77ZnPY3Lo7ju {
        height: 58px;
        display: flex;
        justify-content: center; }
        ._2TUg2e5nezOAPPTB1wxuX_ ._2YMEOcDDKTINLjV2Hrd-Pw ._2GnYBW-RhQPMZPQSQj6Zbi ._3U2C3x-BsNZ_XgHBaHNVAd ._3cZvKkC5s_77ZnPY3Lo7ju p {
          font-style: normal;
          font-weight: normal;
          font-size: 17.5px;
          line-height: 20px;
          color: #3D5170; }

._1DiP-_kcP1AGjy3xjGkrPO ._2A62VeyHkj0zn87HfwvWVB {
  display: flex;
  position: relative; }
  ._1DiP-_kcP1AGjy3xjGkrPO ._2A62VeyHkj0zn87HfwvWVB .r0BJPHEGV7oF3ygv1a_sB {
    height: 100vh;
    flex: 1 0 13%;
    background: #FFFFFF;
    box-shadow: 0px 1px 75px rgba(90, 97, 105, 0.11), 0px 2px 4px rgba(90, 97, 105, 0.12), 0px 7.5px 11px rgba(90, 97, 105, 0.1), 0px 3.5px 17.5px rgba(165, 182, 201, 0.1); }
  ._1DiP-_kcP1AGjy3xjGkrPO ._2A62VeyHkj0zn87HfwvWVB ._285uYLcfNDXvLbesGv5uU0 {
    width: 100%;
    height: 100vh; }
    ._1DiP-_kcP1AGjy3xjGkrPO ._2A62VeyHkj0zn87HfwvWVB ._285uYLcfNDXvLbesGv5uU0 .lm3PV_fwgo-DZyGlxwbyA {
      padding: 0 27px 0 26px;
      overflow: auto;
      height: calc(100vh - 130px); }
      ._1DiP-_kcP1AGjy3xjGkrPO ._2A62VeyHkj0zn87HfwvWVB ._285uYLcfNDXvLbesGv5uU0 .lm3PV_fwgo-DZyGlxwbyA p {
        margin-block-start: 20px;
        margin-block-end: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 29px;
        color: #3D5170; }
      ._1DiP-_kcP1AGjy3xjGkrPO ._2A62VeyHkj0zn87HfwvWVB ._285uYLcfNDXvLbesGv5uU0 .lm3PV_fwgo-DZyGlxwbyA ._1NO4-frXyerFJolAqOZjp1 {
        display: flex; }
    ._1DiP-_kcP1AGjy3xjGkrPO ._2A62VeyHkj0zn87HfwvWVB ._285uYLcfNDXvLbesGv5uU0 ._1_DS90Ehp5yYcHB0zdFKy2 {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 65px;
      width: 87%;
      background-color: white;
      box-shadow: 0px -0.5px 0px #D7DAE3; }
      ._1DiP-_kcP1AGjy3xjGkrPO ._2A62VeyHkj0zn87HfwvWVB ._285uYLcfNDXvLbesGv5uU0 ._1_DS90Ehp5yYcHB0zdFKy2 ._2Fmt0DvAYHVZqz8rRK232I {
        padding-left: 27px; }
        ._1DiP-_kcP1AGjy3xjGkrPO ._2A62VeyHkj0zn87HfwvWVB ._285uYLcfNDXvLbesGv5uU0 ._1_DS90Ehp5yYcHB0zdFKy2 ._2Fmt0DvAYHVZqz8rRK232I a {
          text-decoration: none;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #007BFF; }
          ._1DiP-_kcP1AGjy3xjGkrPO ._2A62VeyHkj0zn87HfwvWVB ._285uYLcfNDXvLbesGv5uU0 ._1_DS90Ehp5yYcHB0zdFKy2 ._2Fmt0DvAYHVZqz8rRK232I a:last-child {
            padding-left: 16px; }
          ._1DiP-_kcP1AGjy3xjGkrPO ._2A62VeyHkj0zn87HfwvWVB ._285uYLcfNDXvLbesGv5uU0 ._1_DS90Ehp5yYcHB0zdFKy2 ._2Fmt0DvAYHVZqz8rRK232I a:hover {
            cursor: pointer; }
      ._1DiP-_kcP1AGjy3xjGkrPO ._2A62VeyHkj0zn87HfwvWVB ._285uYLcfNDXvLbesGv5uU0 ._1_DS90Ehp5yYcHB0zdFKy2 ._3s0TkePvDv2UAP90nihrrM {
        padding-right: 27px; }
        ._1DiP-_kcP1AGjy3xjGkrPO ._2A62VeyHkj0zn87HfwvWVB ._285uYLcfNDXvLbesGv5uU0 ._1_DS90Ehp5yYcHB0zdFKy2 ._3s0TkePvDv2UAP90nihrrM span {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          color: #818EA3; }

._2OOLzfRsxlaHpr43E2v5wC {
  display: flex;
  justify-content: space-between;
  height: 65px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 2.5px 9.5px rgba(90, 97, 105, 0.12); }
  ._2OOLzfRsxlaHpr43E2v5wC ._2mHV1Bk9wposUKboM1LyKG {
    display: flex;
    padding-left: 27px; }
    ._2OOLzfRsxlaHpr43E2v5wC ._2mHV1Bk9wposUKboM1LyKG input {
      padding-left: 10px;
      border: none;
      outline: none; }
  ._2OOLzfRsxlaHpr43E2v5wC ._22A-pknHCdNoxiHKiVseqT {
    display: flex; }
    ._2OOLzfRsxlaHpr43E2v5wC ._22A-pknHCdNoxiHKiVseqT .gMh8ZPG0Y1AbXZEeuz4_o {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 69px;
      box-shadow: 0.5px 0 0 #CACEDB, -0.5px 0 0 #CACEDB; }
    ._2OOLzfRsxlaHpr43E2v5wC ._22A-pknHCdNoxiHKiVseqT ._28_avkkaa8p-BAAxp3oEFD {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 5px;
      padding-left: 27px;
      width: 217px;
      height: 100%; }
      ._2OOLzfRsxlaHpr43E2v5wC ._22A-pknHCdNoxiHKiVseqT ._28_avkkaa8p-BAAxp3oEFD ._1RllV6tPsvNAbz9Lpyv7XX {
        display: flex;
        align-items: center; }
        ._2OOLzfRsxlaHpr43E2v5wC ._22A-pknHCdNoxiHKiVseqT ._28_avkkaa8p-BAAxp3oEFD ._1RllV6tPsvNAbz9Lpyv7XX ._1YSoisUKASvI769xq7gefE img {
          margin-right: 10px; }
        ._2OOLzfRsxlaHpr43E2v5wC ._22A-pknHCdNoxiHKiVseqT ._28_avkkaa8p-BAAxp3oEFD ._1RllV6tPsvNAbz9Lpyv7XX ._3gDWraZ8FYHjV1cL8q2zui span {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          color: #5A6169; }
      ._2OOLzfRsxlaHpr43E2v5wC ._22A-pknHCdNoxiHKiVseqT ._28_avkkaa8p-BAAxp3oEFD ._3LC0L0NSplpmDA8_STBXVw {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 40px; }
        ._2OOLzfRsxlaHpr43E2v5wC ._22A-pknHCdNoxiHKiVseqT ._28_avkkaa8p-BAAxp3oEFD ._3LC0L0NSplpmDA8_STBXVw:hover {
          cursor: pointer; }

._2GJywJ_Mt9N8LJhU-h7DGF {
  height: 100%; }
  ._2GJywJ_Mt9N8LJhU-h7DGF .lhxEVtXJkfKfuJIpHl9h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65px;
    box-shadow: 0px 1px 0px #E1E5EB; }
    ._2GJywJ_Mt9N8LJhU-h7DGF .lhxEVtXJkfKfuJIpHl9h5 img {
      width: 21px;
      height: 21px; }
    ._2GJywJ_Mt9N8LJhU-h7DGF .lhxEVtXJkfKfuJIpHl9h5 p {
      padding-left: 10px; }
  ._2GJywJ_Mt9N8LJhU-h7DGF ._2V10WW9bqw9ZopZXqkV90u {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #3D5170; }
    ._2GJywJ_Mt9N8LJhU-h7DGF ._2V10WW9bqw9ZopZXqkV90u ul {
      padding-inline-start: 0;
      margin-block-start: 0; }
      ._2GJywJ_Mt9N8LJhU-h7DGF ._2V10WW9bqw9ZopZXqkV90u ul ._285fqKMEi-8m3Ja_xM9Ngr {
        box-shadow: inset 0px -1px 0px #E1E5EB, inset 4px 0px 0px #007BFF;
        color: #007BFF; }
        ._2GJywJ_Mt9N8LJhU-h7DGF ._2V10WW9bqw9ZopZXqkV90u ul ._285fqKMEi-8m3Ja_xM9Ngr img {
          filter: invert(30%) sepia(100%) saturate(1551%) hue-rotate(197deg) brightness(99%) contrast(111%); }
      ._2GJywJ_Mt9N8LJhU-h7DGF ._2V10WW9bqw9ZopZXqkV90u ul li {
        display: flex;
        align-items: center;
        width: 100%;
        height: 55px;
        list-style-type: none;
        box-shadow: inset 0px -1px 0px #E1E5EB; }
        ._2GJywJ_Mt9N8LJhU-h7DGF ._2V10WW9bqw9ZopZXqkV90u ul li a {
          text-decoration: none; }
        ._2GJywJ_Mt9N8LJhU-h7DGF ._2V10WW9bqw9ZopZXqkV90u ul li img {
          padding: 0 11px 0 23px; }
        ._2GJywJ_Mt9N8LJhU-h7DGF ._2V10WW9bqw9ZopZXqkV90u ul li:hover {
          cursor: pointer;
          box-shadow: inset 0px -1px 0px #E1E5EB, inset 4px 0px 0px #007BFF;
          color: #007BFF; }
          ._2GJywJ_Mt9N8LJhU-h7DGF ._2V10WW9bqw9ZopZXqkV90u ul li:hover img {
            filter: invert(30%) sepia(100%) saturate(1551%) hue-rotate(197deg) brightness(99%) contrast(111%); }

._2kCLIkzJYgueeg5Uji9pqU {
  width: 335px;
  height: 500px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(90, 97, 105, 0.12);
  border-radius: 9px; }
  ._2kCLIkzJYgueeg5Uji9pqU ._3PdhTZmOjxY8HKbacimbcm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    ._2kCLIkzJYgueeg5Uji9pqU ._3PdhTZmOjxY8HKbacimbcm ._1cutN2fYC_gVolCgXnfXWR {
      height: 125px;
      width: 262px;
      padding: 30px 0 10px 0; }
      ._2kCLIkzJYgueeg5Uji9pqU ._3PdhTZmOjxY8HKbacimbcm ._1cutN2fYC_gVolCgXnfXWR img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    ._2kCLIkzJYgueeg5Uji9pqU ._3PdhTZmOjxY8HKbacimbcm ._1E6m6XPCdK0Q22JPpgRgUS {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      ._2kCLIkzJYgueeg5Uji9pqU ._3PdhTZmOjxY8HKbacimbcm ._1E6m6XPCdK0Q22JPpgRgUS .aen0NAr-DVnocoCjfvKmh span {
        font-style: normal;
        font-weight: normal;
        font-size: 24.5px;
        color: #3D5170; }
      ._2kCLIkzJYgueeg5Uji9pqU ._3PdhTZmOjxY8HKbacimbcm ._1E6m6XPCdK0Q22JPpgRgUS ._1WgIygWpjkVm7RpRvrLAQc {
        padding-bottom: 10px; }
        ._2kCLIkzJYgueeg5Uji9pqU ._3PdhTZmOjxY8HKbacimbcm ._1E6m6XPCdK0Q22JPpgRgUS ._1WgIygWpjkVm7RpRvrLAQc span {
          font-style: normal;
          font-weight: normal;
          font-size: 12.5px;
          color: #818EA3; }
  ._2kCLIkzJYgueeg5Uji9pqU ._1zRliaiP6nt2MZViWILcCv {
    width: 100%;
    height: 60px;
    margin: 22px 0 22px 0;
    background: #FFFFFF;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.12), 0px 1px 0px rgba(0, 0, 0, 0.12); }
    ._2kCLIkzJYgueeg5Uji9pqU ._1zRliaiP6nt2MZViWILcCv .cgFrVW7gSFJvwGkaj1YHf {
      padding: 9px 22px 0 22px; }
      ._2kCLIkzJYgueeg5Uji9pqU ._1zRliaiP6nt2MZViWILcCv .cgFrVW7gSFJvwGkaj1YHf .ZhOcRmP9gk-LWf5sH92P6 {
        display: flex;
        justify-content: space-between;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: #868E96;
        padding-bottom: 10px; }
      ._2kCLIkzJYgueeg5Uji9pqU ._1zRliaiP6nt2MZViWILcCv .cgFrVW7gSFJvwGkaj1YHf progress {
        width: 100%;
        height: 13px; }
  ._2kCLIkzJYgueeg5Uji9pqU ._1S1vW6RjRdF5iQytJklBVA .lwyohqEvQEeX2340n-yOL {
    padding: 0 22px 0 22px; }
    ._2kCLIkzJYgueeg5Uji9pqU ._1S1vW6RjRdF5iQytJklBVA .lwyohqEvQEeX2340n-yOL span {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      color: #868E96; }
    ._2kCLIkzJYgueeg5Uji9pqU ._1S1vW6RjRdF5iQytJklBVA .lwyohqEvQEeX2340n-yOL textarea {
      margin-top: 10px;
      padding: 0;
      width: 97%;
      resize: none;
      font-style: normal;
      font-weight: normal;
      font-size: 13.5px;
      color: #5A6169;
      border: none;
      outline: none; }

._2egQPv2xBeU3HxJmeqqNG9 {
  width: 74%;
  height: 100vh;
  margin: 0 0 15px 28px;
  border-radius: 9px;
  background-color: white; }
  ._2egQPv2xBeU3HxJmeqqNG9 .k6WgKRsgdmZ7YLMsvIzj3 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 58px; }
    ._2egQPv2xBeU3HxJmeqqNG9 .k6WgKRsgdmZ7YLMsvIzj3 span {
      padding: 0 0 0 18px;
      font-style: normal;
      font-weight: 500;
      font-size: 17.5px;
      color: #3D5170; }
  ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 80px); }
    ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK ._27GMSNUSc1dIDL-dQT6tjX {
      padding-left: 18px;
      width: 40%; }
    ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK form {
      display: flex;
      flex-wrap: wrap;
      padding: 20px 18px 0 18px;
      width: 95%; }
      ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK form input {
        width: 89%; }
      ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK form ._3tQln3U6nVYy6A4WJsooji {
        display: flex;
        width: 85%; }
        ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK form ._3tQln3U6nVYy6A4WJsooji ._2onhcOHgOauRdSIElgvuhH {
          position: relative;
          width: 28px;
          height: 28px;
          margin-top: 22px;
          border: 1px solid #BECAD6;
          border-radius: 4px; }
          ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK form ._3tQln3U6nVYy6A4WJsooji ._2onhcOHgOauRdSIElgvuhH:hover {
            cursor: pointer; }
          ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK form ._3tQln3U6nVYy6A4WJsooji ._2onhcOHgOauRdSIElgvuhH span:first-child {
            position: absolute;
            top: 50%;
            left: 3px;
            width: 80%;
            height: 2px;
            background-color: #BECAD6; }
          ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK form ._3tQln3U6nVYy6A4WJsooji ._2onhcOHgOauRdSIElgvuhH span:last-child {
            position: absolute;
            top: 50%;
            left: 3px;
            width: 80%;
            height: 1.5px;
            transform: rotate(90deg);
            background-color: #BECAD6; }
    ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK ._3-JcsmlCEIOwlgXISkuB-W {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 95%;
      margin: 0 0 0 18px;
      height: 100px; }
      ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK ._3-JcsmlCEIOwlgXISkuB-W ._359MyVqQGoUA4mFQcrdACu button {
        width: 110px;
        height: 29px;
        border-radius: 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 11.5px;
        text-align: center;
        border: none;
        outline: none; }
        ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK ._3-JcsmlCEIOwlgXISkuB-W ._359MyVqQGoUA4mFQcrdACu button:first-child {
          background-color: #007BFF;
          color: #FFFFFF; }
        ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK ._3-JcsmlCEIOwlgXISkuB-W ._359MyVqQGoUA4mFQcrdACu button:last-child {
          margin-left: 12px;
          background-color: #E9ECEF;
          color: black; }
        ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK ._3-JcsmlCEIOwlgXISkuB-W ._359MyVqQGoUA4mFQcrdACu button:hover {
          cursor: pointer; }
      ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK ._3-JcsmlCEIOwlgXISkuB-W ._35fNJ9tMWg5vCdJ9xlfySq button {
        width: 110px;
        height: 29px;
        border-radius: 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 11.5px;
        text-align: center;
        background-color: #CB3656;
        color: white;
        border: none;
        outline: none; }
        ._2egQPv2xBeU3HxJmeqqNG9 ._3mWfw1zndB2PrM0_MZpsjK ._3-JcsmlCEIOwlgXISkuB-W ._35fNJ9tMWg5vCdJ9xlfySq button:hover {
          cursor: pointer; }

._1E1rqanqeguMnZjSLn_n2w {
  width: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #495057; }
  ._1E1rqanqeguMnZjSLn_n2w span:last-child {
    color: red;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    padding: 4px 0 0 10px; }
  ._1E1rqanqeguMnZjSLn_n2w ._4hW1EIqtHKxuEDp3bL6i8 {
    display: flex;
    align-items: center;
    padding: 8px 0 8px 0; }
    ._1E1rqanqeguMnZjSLn_n2w ._4hW1EIqtHKxuEDp3bL6i8 ._1SYmi_d8h1hQfRrSRezNse {
      border: 1px solid red;
      border-radius: 4px; }
    ._1E1rqanqeguMnZjSLn_n2w ._4hW1EIqtHKxuEDp3bL6i8 span {
      margin: 0 5px 0 5px;
      width: 20px;
      height: 1px;
      background-color: black; }
    ._1E1rqanqeguMnZjSLn_n2w ._4hW1EIqtHKxuEDp3bL6i8 input {
      width: 100%;
      height: 30px;
      padding-left: 8px;
      border-radius: 4px;
      border: 1px solid #BECAD6;
      outline: none; }
  ._1E1rqanqeguMnZjSLn_n2w ._3ElEQE2t7ZtDvtt7LQZonN input[type=range] {
    width: 100%; }
    ._1E1rqanqeguMnZjSLn_n2w ._3ElEQE2t7ZtDvtt7LQZonN input[type=range]:hover {
      cursor: pointer; }

._3jRehmTmHsPh2rgFBLMwuX ._1fr48fRdqwaCpBB9SchDRa {
  display: flex;
  height: 20px;
  align-items: center; }
  ._3jRehmTmHsPh2rgFBLMwuX ._1fr48fRdqwaCpBB9SchDRa:last-child {
    margin-bottom: 15px; }
  ._3jRehmTmHsPh2rgFBLMwuX ._1fr48fRdqwaCpBB9SchDRa input {
    width: 13px;
    height: 13px; }
    ._3jRehmTmHsPh2rgFBLMwuX ._1fr48fRdqwaCpBB9SchDRa input:hover {
      cursor: pointer; }
  ._3jRehmTmHsPh2rgFBLMwuX ._1fr48fRdqwaCpBB9SchDRa label {
    margin-left: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #495057; }
    ._3jRehmTmHsPh2rgFBLMwuX ._1fr48fRdqwaCpBB9SchDRa label:hover {
      cursor: pointer; }

.BqhnLmLkSVwkAwAw2DN8V {
  width: 50%; }
  .BqhnLmLkSVwkAwAw2DN8V span {
    color: red;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    padding: 4px 0 0 10px; }
  .BqhnLmLkSVwkAwAw2DN8V select {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    padding: 8px;
    color: #3D5170;
    cursor: inherit;
    z-index: 1;
    outline: none; }
    .BqhnLmLkSVwkAwAw2DN8V select::-ms-expand {
      display: none; }
  .BqhnLmLkSVwkAwAw2DN8V label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #495057; }
  .BqhnLmLkSVwkAwAw2DN8V ._2QZWTgKdS55dXKPamPkz8J {
    border-radius: 3px;
    border: 1px solid red; }
  .BqhnLmLkSVwkAwAw2DN8V .cKzL4jujwsRd8oyrGgWCU {
    border-radius: 3px;
    border: 1px solid #BECAD6; }
  .BqhnLmLkSVwkAwAw2DN8V ._3pg9N0iJHWti3e0ZEvB-DM {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 3px;
    max-width: 100%;
    cursor: pointer;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%); }
    .BqhnLmLkSVwkAwAw2DN8V ._3pg9N0iJHWti3e0ZEvB-DM:not(.cUHifivU8v3JirvtfqUOc)::after {
      content: "";
      position: absolute;
      bottom: 8px;
      right: 15px;
      justify-self: end;
      width: 9px;
      height: 5px;
      background-color: black;
      clip-path: polygon(100% 0%, 0 0%, 50% 100%); }
    .BqhnLmLkSVwkAwAw2DN8V ._3pg9N0iJHWti3e0ZEvB-DM:not(.cUHifivU8v3JirvtfqUOc)::before {
      content: "";
      position: absolute;
      top: 8px;
      right: 15px;
      justify-self: end;
      width: 9px;
      height: 5px;
      background-color: black;
      clip-path: polygon(100% 100%, 0 100%, 50% 0%); }

._3DYCRoz1iK4ImrEEApJCd6 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 13%);
  height: 42px;
  background-color: #0EC261;
  z-index: 2;
  transition-duration: .3s;
  transition-property: height;
  transition-timing-function: ease-in-out; }
  ._3DYCRoz1iK4ImrEEApJCd6._1I0-zgykP-u6KFt9no4hc1 {
    height: 0; }
    ._3DYCRoz1iK4ImrEEApJCd6._1I0-zgykP-u6KFt9no4hc1 ._12vx8kxNioTkyMVM60urZq, ._3DYCRoz1iK4ImrEEApJCd6._1I0-zgykP-u6KFt9no4hc1 ._1I0-zgykP-u6KFt9no4hc1 {
      display: none; }
  ._3DYCRoz1iK4ImrEEApJCd6 ._12vx8kxNioTkyMVM60urZq {
    display: flex;
    align-items: center;
    padding-left: 27px; }
    ._3DYCRoz1iK4ImrEEApJCd6 ._12vx8kxNioTkyMVM60urZq .JGx-9qhoMg3CsrG3cMFFM img {
      padding-right: 9px; }
    ._3DYCRoz1iK4ImrEEApJCd6 ._12vx8kxNioTkyMVM60urZq ._13cpE-FIvri5cpo9tNMjO3 {
      color: white; }
  ._3DYCRoz1iK4ImrEEApJCd6 ._1I0-zgykP-u6KFt9no4hc1 {
    display: flex;
    justify-content: center;
    width: 55px;
    height: 20px; }
    ._3DYCRoz1iK4ImrEEApJCd6 ._1I0-zgykP-u6KFt9no4hc1:hover {
      cursor: pointer; }

._3oVdtkoPei-9MBDykflcMu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 21px 0 21px;
  width: 100%;
  height: 450px;
  background: #FFFFFF;
  box-shadow: 0 1px 0 rgba(90, 97, 105, 0.11), 0 2px 4px rgba(90, 97, 105, 0.12), 0 5px 5px rgba(90, 97, 105, 0.06), 0px 3.5px 35px rgba(90, 97, 105, 0.1);
  border-radius: 9px; }
  ._3oVdtkoPei-9MBDykflcMu ._3_oNbY43CtsAy__1mvKDtX {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-bottom: 15px; }
    ._3oVdtkoPei-9MBDykflcMu ._3_oNbY43CtsAy__1mvKDtX ._2wpUSw9jzldIUZ_VdGUugT {
      display: flex; }
      ._3oVdtkoPei-9MBDykflcMu ._3_oNbY43CtsAy__1mvKDtX ._2wpUSw9jzldIUZ_VdGUugT select {
        padding-right: 50px;
        margin-right: 10px; }
    ._3oVdtkoPei-9MBDykflcMu ._3_oNbY43CtsAy__1mvKDtX .z0nX2rX71iw2f81b9-gLJ {
      display: flex; }
      ._3oVdtkoPei-9MBDykflcMu ._3_oNbY43CtsAy__1mvKDtX .z0nX2rX71iw2f81b9-gLJ button:first-child {
        width: 95px;
        height: 29px;
        margin-right: 15px;
        background: #C4183C;
        border: 0.5px solid #C4183C;
        box-sizing: border-box;
        border-radius: 4px;
        outline: none;
        color: white;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        transition: all 0.3s ease-out; }
        ._3oVdtkoPei-9MBDykflcMu ._3_oNbY43CtsAy__1mvKDtX .z0nX2rX71iw2f81b9-gLJ button:first-child:hover {
          cursor: pointer;
          filter: brightness(80%); }
      ._3oVdtkoPei-9MBDykflcMu ._3_oNbY43CtsAy__1mvKDtX .z0nX2rX71iw2f81b9-gLJ button:last-child {
        width: 95px;
        height: 29px;
        background: #007BFF;
        border: 0.5px solid #007BFF;
        box-sizing: border-box;
        border-radius: 4px;
        outline: none;
        color: white;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        transition: all 0.3s ease-out; }
        ._3oVdtkoPei-9MBDykflcMu ._3_oNbY43CtsAy__1mvKDtX .z0nX2rX71iw2f81b9-gLJ button:last-child:hover {
          cursor: pointer;
          filter: brightness(80%); }
  ._3oVdtkoPei-9MBDykflcMu ._1aqGWxwgXfRauvPryrlD5- {
    width: 100%;
    height: 100%; }
  ._3oVdtkoPei-9MBDykflcMu ._2GkuvYFeiZXSz6tnD9Pvtn {
    display: flex;
    justify-content: center;
    height: 60px; }

._2wgJp5Rw5w7cBEtFw0nPam {
  width: 100%;
  height: 90%;
  margin-top: 15px; }
  ._2wgJp5Rw5w7cBEtFw0nPam table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0; }
    ._2wgJp5Rw5w7cBEtFw0nPam table tr:first-child {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      color: #3D5170; }
    ._2wgJp5Rw5w7cBEtFw0nPam table tr ._2emfGwf3qDZhHJg-2oA6cr {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #3D5170; }
    ._2wgJp5Rw5w7cBEtFw0nPam table tr ._3wpfnbPJPa4VY7pMNPqw5u {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #818EA3; }
    ._2wgJp5Rw5w7cBEtFw0nPam table th, ._2wgJp5Rw5w7cBEtFw0nPam table td {
      padding: 10px; }
    ._2wgJp5Rw5w7cBEtFw0nPam table tbody tr {
      transition: all 0.3s ease-out;
      background-color: white; }
      ._2wgJp5Rw5w7cBEtFw0nPam table tbody tr:hover {
        cursor: pointer;
        filter: brightness(60%); }

._2Sb7UmNVbQMlxkU0mAtvb-,
._2Sb7UmNVbQMlxkU0mAtvb-:before,
._2Sb7UmNVbQMlxkU0mAtvb-:after {
  border-radius: 50%; }

._2Sb7UmNVbQMlxkU0mAtvb- {
  color: #007BFF;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }
  ._2Sb7UmNVbQMlxkU0mAtvb-:before, ._2Sb7UmNVbQMlxkU0mAtvb-:after {
    position: absolute;
    content: ''; }
  ._2Sb7UmNVbQMlxkU0mAtvb-:before {
    width: 5.2em;
    height: 10.2em;
    background: white;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.1em 5.1em;
    transform-origin: 5.1em 5.1em;
    -webkit-animation: _253JsH3loLLAuZ_5GvwLKW 2s infinite ease 1.5s;
    animation: _253JsH3loLLAuZ_5GvwLKW 2s infinite ease 1.5s; }
  ._2Sb7UmNVbQMlxkU0mAtvb-:after {
    width: 5.2em;
    height: 10.2em;
    background: white;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 4.9em;
    -webkit-transform-origin: 0.1em 5.1em;
    transform-origin: 0.1em 5.1em;
    -webkit-animation: _253JsH3loLLAuZ_5GvwLKW 2s infinite ease;
    animation: _253JsH3loLLAuZ_5GvwLKW 2s infinite ease; }

@-webkit-keyframes _253JsH3loLLAuZ_5GvwLKW {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes _253JsH3loLLAuZ_5GvwLKW {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

._1aHEMi53FWplMTwo1eJpqv {
  padding-inline-start: 10px; }
  ._1aHEMi53FWplMTwo1eJpqv .vhC98sZmQMEB6rGiQwN4k {
    list-style-type: none;
    display: inline;
    margin-right: 5px; }
    ._1aHEMi53FWplMTwo1eJpqv .vhC98sZmQMEB6rGiQwN4k a {
      text-decoration: none;
      color: #007BFF;
      padding: 0 4px 0 4px; }
      ._1aHEMi53FWplMTwo1eJpqv .vhC98sZmQMEB6rGiQwN4k a:hover {
        cursor: pointer; }
    ._1aHEMi53FWplMTwo1eJpqv .vhC98sZmQMEB6rGiQwN4k ._73-sq687PBYAyHBHgGv2_ {
      border-radius: 50%;
      background-color: #007BFF;
      color: white; }
      ._1aHEMi53FWplMTwo1eJpqv .vhC98sZmQMEB6rGiQwN4k ._73-sq687PBYAyHBHgGv2_ span {
        color: white; }

._28rTcITwgtqBzpcaZ9ib_J {
  display: flex;
  flex-direction: column; }
  ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; }
    ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY ._2arb5sI9-lpHiaMcNInCWT {
      width: 138px;
      height: 63px; }
      ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY ._2arb5sI9-lpHiaMcNInCWT img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY ._2Enewtkm0KKf5dlPPnmDKg {
      display: flex;
      flex-direction: column;
      font-style: normal;
      font-weight: normal;
      font-size: 13px; }
    ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY ._3V4BsL2r52-UE57HfEFhNt {
      display: flex;
      flex-direction: column; }
      ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY ._3V4BsL2r52-UE57HfEFhNt input {
        position: absolute;
        z-index: -1;
        opacity: 0; }
        ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY ._3V4BsL2r52-UE57HfEFhNt input + label {
          display: inline-flex;
          align-items: center;
          margin-bottom: 8px;
          user-select: none;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          color: #999999; }
          ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY ._3V4BsL2r52-UE57HfEFhNt input + label::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #999999;
            margin-right: 8px;
            background-repeat: no-repeat;
            background-position: center center; }
        ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY ._3V4BsL2r52-UE57HfEFhNt input:checked + label {
          color: black; }
          ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY ._3V4BsL2r52-UE57HfEFhNt input:checked + label::before {
            border-color: #0EC261;
            background: url(9be7f1424a4a7a629b7fa743ad008235.svg) 0 0 no-repeat; }
    ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY ._3DQodSJU55J4SjYuMdFSpi span {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      color: #121212; }
    ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY ._3YJnbu62CnFaFraiz2R1r6 {
      display: flex; }
      ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY ._3YJnbu62CnFaFraiz2R1r6 button {
        width: 71px;
        height: 24px;
        background: #FFFFFF;
        border: 0.5px solid #BECAD6;
        box-sizing: border-box;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        text-align: center;
        color: #5A6169; }
        ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY ._3YJnbu62CnFaFraiz2R1r6 button:first-child {
          border-radius: 4px 0 0 4px; }
        ._28rTcITwgtqBzpcaZ9ib_J .vj_q9zNZf6I2yZUQhOPbY ._3YJnbu62CnFaFraiz2R1r6 button:last-child {
          border-radius: 0 4px 4px 0; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #E5E5E5; }

