.container {
  width: 50%;
  @media (max-width: 925px) {
    width: 100%;
    margin-bottom: 15px;
  }
  span {
    color: red;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    padding: 4px 0 0 10px;
  }
  select {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    padding: 8px;
    color: #3D5170;
    cursor: inherit;
    z-index: 0;
    outline: none;

    &::-ms-expand {
      display: none;
    }
  }
  label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #495057;
  }
  .error {
    border-radius: 3px;
    border: 1px solid red;
  }
  .default {
    border-radius: 3px;
    border: 1px solid #BECAD6;
  }
  .select {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 3px;
    max-width: 100%;
    cursor: pointer;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

    &:not(.select--multiple)::after {
      content: "";
      position: absolute;
      bottom: 8px;
      right: 15px;
      justify-self: end;
      width: 9px;
      height: 5px;
      background-color: black;
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }
    &:not(.select--multiple)::before {
      content: "";
      position: absolute;
      top: 8px;
      right: 15px;
      justify-self: end;
      width: 9px;
      height: 5px;
      background-color: black;
      clip-path: polygon(100% 100%, 0 100%, 50% 0%);
    }
  }
}
