.date {
  display: flex;
  width: 95%;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 0 15px 0;
  .date__from {
    display: flex;
    align-items: center;
    input {
      width: 90%;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      padding: 8px;
      border-radius: 3px;
      border: 1px solid #BECAD6;
      margin-left: 8px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: #495057;
    }
  }
  .date__to {
    display: flex;
    align-items: center;
    label {
      padding-left: 18px;
    }
    input {
      width: 90%;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      padding: 8px;
      border-radius: 3px;
      border: 1px solid #BECAD6;
      margin-left: 8px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: #495057;
    }
  }
}
