@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$bc-color: #E5E5E5;
$blue-color: #007BFF;
$red-color: #CB3656;

body {
    font-family: 'Roboto', sans-serif;
    background-color: $bc-color;
}
